<template>
    <div>
        <!-- Button trigger modal -->
        <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            :data-target="'#id' + data.id"
            style="margin-bottom: 10px"
        >
            Update
        </button>

        <form method="POST" :action="'/employee/' + data.id">
            <input type="hidden" name="_token" :value="csrf" />
            <input name="_method" type="hidden" value="DELETE" />
            <button
                onClick="return confirm('Are you sure your want to delete?')"
                type="submit"
                class="btn btn-danger delete-user"
            >
                Delete
            </button>
        </form>

        <!-- Modal -->
        <div
            class="modal fade"
            :id="'id' + data.id"
            tabindex="-1"
            role="dialog"
            aria-labelledby="updateModal"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Edit Employee {{ data.name }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form
                        enctype="multipart/form-data"
                        method="POST"
                        action="/employee"
                    >
                        <input type="hidden" name="_token" :value="csrf" />
                        <input name="_method" type="hidden" value="PUT" />
                        <input name="id" type="hidden" :value="data.id" />
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">First Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    Name="first_name"
                                    placeholder="Enter name"
                                    :value="data.first_name"
                                />
                            </div>
                            <div class="form-group">
                                <label for="name">Last Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    Name="last_name"
                                    placeholder="Enter name"
                                    :value="data.last_name"
                                />
                            </div>

                            <div class="form-group">
                                <label> Company</label>
                                <select class="form-control" name="company_id">
                                    <option
                                        v-for="company in companies"
                                        :value="company.id"
                                        :key="company.id"    
                                        :selected="company.id === data.company_id"
                                    >
                                        {{ company.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input
                                    type="email"
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    placeholder="Enter email"
                                    :value="data.email"
                                />
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone number</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="phone"
                                    name="phone"
                                    placeholder="Enter phone number"
                                    :value="data.phone"
                                />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                            >
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        data: {},
    },
    computed: {},
    data() {
        return {
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
            companies: this.$root.companies,
        };
    },
};
</script>